


#map {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

html, body{
    width: 90;
    height: 90%;
    margin: auto;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
}

#map-frame{
    text-align: center;
    width: 90;
    height: 95%;
}

/* ------------- свойства модального окна ------------- */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 70%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

/* свойства кнопки закрытия */
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

/* кнопка меняет цвет при наведении */
.close:hover { background: #ff0000; }

/* меню настройки геообъекта */

.modalMenu {
    margin: 0;
    padding: 0;
    position: fixed;
    list-style: none;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 1px;
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalMenu:target {
    display: block;
    pointer-events: auto;
}
.modalMenu li {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
}
/* выделение цветом при наведении */
/* .modalMenu li:hover {
    background: #333333;
} */