#table-maps{
    margin: 0 auto;
}

#map{
    width: 600px;
    height: 400px;
    float: left;
}

#canvas{
    width: 600px;
    height: 400px;
    /* background-color:#eee; */
    border: 1px solid #310062;
}

#cvs{
    float: right;
}